---
permalink: podcast/feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:podcast="https://podcastindex.org/namespace/1.0">
  <channel>
    <title>{{ site.name }} Podcast</title>
    <link>{{ site.url }}/podcast/</link>
    <atom:link href="{{ '/podcast/feed.xml' | absoluteUrl(site.url) }}" rel="self" type="application/rss+xml" />
    <description>{{ site.description }}</description>
    <language>en-US</language>
    <itunes:author>{{ site.author }}</itunes:author>
    <itunes:summary>{{ site.description }}</itunes:summary>
    <itunes:explicit>false</itunes:explicit>
    {%- for episode in collections.podcast %}
    {% set enclosureUrl = episode.data.audio_file if episode.data.audio_file and episode.data.audio_file.startswith('http') else ('https://media.democraticjustice.org' ~ episode.data.audio_file) %}
    {% set transcriptUrl = episode.data.transcript_file if episode.data.transcript_file and episode.data.transcript_file.startswith('http') else ('https://media.democraticjustice.org' ~ episode.data.transcript_file) %}
    <item>
      <title>{{ episode.data.title | escape }}</title>
      <description>{{ episode.data.description | default('', true) | escape }}</description>
      <pubDate>{{ episode.date | dateToRfc822 }}</pubDate>
      <link>{{ episode.url | absoluteUrl(site.url) }}</link>
      <guid isPermaLink="false">{{ episode.data.guid | default(episode.url | absoluteUrl(site.url), true) }}</guid>
      <enclosure url="{{ enclosureUrl | escape }}" type="audio/mpeg" />
      {% if transcriptUrl %}
      <podcast:transcript type="text/vtt" url="{{ transcriptUrl | escape }}" />
      {% endif %}
      <itunes:episodeType>full</itunes:episodeType>
    </item>
    {%- endfor %}
  </channel>
</rss>
